
.nav-tabs .nav-link:focus{

    border: none !important; /* Remove existing border */
    border-bottom: 2px solid rgb(194, 39, 75) !important; /* Add new border at the bottom */
    border-color: rgb(194, 39, 75) !important;  

}    
