.star-rating {
    display: inline-block;
  }
  
  .star {
    cursor: pointer;
  }
  
  .white {
    border-color: yellow;
  }
  
  .yellow {
    color: yellow;
  }
  .modal-body p{
    color: rgb(194, 39, 75);
    display: flex !important;
    justify-content: center !important;
  }