.Book-container-fluid{
 padding-left: 15%;
 padding-right: 15%;
}
.btn-secondary{
    border-radius: 0 !important;
    background-color: white !important;
    color: black;
    border-color: silver;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
}
.btn{
    padding-right: 20% !important;
}
.text{
    color: rgb(194, 39, 75) !important;
}
.btn-red-background{
    background-color: rgb(194, 39, 75) !important;
}
.form-check-input:focus {
    outline-color: rgb(136, 181, 223);
  }
  
  .form-check-input:checked {
    background-color: rgb(136, 181, 223);
  }
  
  .red-border {
    border: 1px solid #556b8d;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 16px;
  }
  .checkbox-container {
    display: flex;
    align-items: center;
  }
  
  .checkbox-container input[type="checkbox"] {
    padding: 10px;
    width: 20px;
    height: 20px;
    appearance: none; /* Hide default checkbox */
    -webkit-appearance: none; /* Hide default checkbox for Safari */
    background-color: transparent; /* Set background transparent */
    border: 2px solid #ccc; /* Add border */
    border-radius: 4px; /* Add border-radius */
    outline: none; /* Remove outline */
    cursor: pointer; /* Add pointer cursor */
  }
  
  .checkbox-container input[type="checkbox"]:checked {
    background-color: rgb(136, 181, 223);
  }
  
  .checkbox-container label {
    font-size: larger;
    padding-left: 20px;
  }
  .BlueColor{
    background-color: #556b8d !important;
  }
  .babysitterList{
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  @media (max-width: 500px) {
    .babysitterList .card{
      width: 10rem !important;
    }
    .babysitterList{
      margin-top: 2rem;
      margin-bottom: 1rem;
      padding-top: 0;
      padding-bottom: 0;
    }
    
    }